[Unit]
Description=SSM Prometheus postgres_exporter
ConditionFileIsExecutable=/opt/ss/ssm-client/postgres_exporter
After=network.target
After=syslog.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/opt/ss/ssm-client/postgres_exporter

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ssm-postgresql-metrics

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target